<!DOCTYPE html>
<html lang=”en”>
<title>Luna Rosa</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anoymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
body,h4 {font-family: "Raleway", sans-serif}
body,h3 {font-family: "Raleway", sans-serif}
body {
  background-color: lightblue;
}
</style>
    <body>
        <div>
            <br>
            <h4><pre>Updated on {{date}}</pre></h4>
          <h3><pre>{{n}}</pre></h3>
          <br>
        </div>
    </body>
</html>
